.about {
  display: flex;
  flex-wrap: wrap;
  gap: 159px;

  @include vp-1439 {
    flex-direction: column;
    gap: 31px;
    width: 490px;
  }

  @include vp-767 {
    gap: 32px;
    width: 100%;
  }
}

.about__title {
  padding: 3px 133px 0 0;
  margin: 0;
  margin-bottom: 35px;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  width: 477px;
  color: $color-cerulean-blue;

  @include vp-1439 {
    padding: 0;
    padding-right: 28px;
    margin-top: -1px;
    margin-bottom: 25px;
    width: 434px;
    font-size: 34px;
  }

  @include vp-767 {
    width: 100%;
    padding: 3px 50px 0 1px;
    margin-bottom: 13px;
    font-size: 20px;
    line-height: 20px;
  }
}

.about__description {
  p {
    margin: 0;
    width: 398px;
    font-size: 22px;
    line-height: 32px;

    @include vp-1439 {
      width: 100%;
      font-size: 20px;
      line-height: 26px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 22px;
      width: 290px;
    }
  }
}

.about__content {
  width: 490px;

  @include vp-767 {
    width: 100%;
  }

  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 33px;
    margin-top: -2px;
    color: $color-cerulean-blue;

    @include vp-1439 {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 23px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 11px;
    }
  }

  p {
    margin-bottom: 33px;

    @include vp-1439 {
      line-height: 20px;
      margin-bottom: 36px;
    }

    @include vp-767 {
      font-size: 14px;
      margin-bottom: 25px;
      width: 290px;
    }

    br {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }
}

.about__container {
  @include vp-767 {
    width: 100%;
  }
}

.about__btn {
  padding-left: 30px;
  width: 277px;

  @include vp-767 {
    padding-left: 20px;
    width: 221px;
  }
}
