.contacts {
  width: 100%;
  background-color: $color-cerulean-blue;
  padding: 120px 0;
  color: $color-default-white;

  @include vp-1439 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 67px 0;
  }

  dl,
  dd,
  h2 {
    margin: 0;
  }
}

.contacts__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 73px;

  @include vp-1439 {
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    margin-bottom: 57px;
  }

  @include vp-767 {
    gap: 28px;
    margin-bottom: 55px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-default-white;
    opacity: 0.2;
    bottom: -33px;
    left: 0;

    @include vp-1439 {
      bottom: -27px;
    }

    @include vp-767 {
      bottom: -25px;
    }
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 604px;

  @include vp-1439 {
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 8px;
  }
}

.contacts__map img {
  border-radius: 16px;
  width: 100%;
  height: 500px;

  @include vp-767 {
    height: 240px;
  }
}

.contacts__group {
  max-width: 263px;
}

.contacts__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  transform: translateY(4px);

  @include vp-1439 {
    font-size: 34px;
    transform: translateY(-1px);
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    transform: translateY(3px);
  }
}

.contacts__name {
  display: block;
  color: $color-alabaster;
  opacity: 0.8;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  margin-bottom: 14px;
  transform: translateY(-1px);

  @include vp-1439 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    transform: translateY(6px);
  }
}

.contacts__text {
  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }

  a {
    color: $color-default-white;
  }
}
