.form {
  width: 510px;
  padding: 60px 80px;

  @include vp-767 {
    width: 290px;
    padding: 40px 15px;
  }
}

.form__title {
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  color: $color-cerulean-blue;
  margin: 0;
  margin-bottom: 10px;

  @include vp-1439 {
    font-size: 28px;
    line-height: 28px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  &--dark {
    color: $color-default-white;
    text-align: left;
    margin-bottom: 25px;

    @include vp-1439 {
      margin-bottom: 28px;
    }

    @include vp-767 {
      margin-bottom: 19px;
    }
  }
}

.form__text {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @include vp-1439 {
    line-height: 20px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    font-size: 14px;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 29px;
  }

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &--dark {
    color: $color-alabaster;
    opacity: 0.9;
    text-align: left;
    margin-left: 0;
    margin-right: 0;

    @include vp-767 {
      width: 100%;
    }
  }
}

.form__container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @include vp-1439 {
    gap: 10px;
  }

  @include vp-767 {
    gap: 24px;
  }
}

.form__btn {
  width: 194px;
  margin-top: 8px;

  @include vp-767 {
    width: 100%;
  }

  &--dark {
    width: 100%;
  }
}
