.grant {
  background-color: $color-cerulean-blue;
  color: $color-alabaster;
  padding: 120px 0;

  @include vp-1439 {
    flex-direction: column;
    gap: 40px;
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 67px 0;
    gap: 30px;
  }
}

.grant .container {
  display: flex;
  gap: 138px;

  @include vp-1439 {
    flex-direction: column;
    gap: 37px;
  }

  @include vp-767 {
    gap: 27px;
  }
}

.grant__wrapper {
  width: 498px;

  @include vp-1439 {
    width: 100%;
  }
}

.grant__title {
  color: $color-default-white;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;
  padding-top: 4px;

  @include vp-1439 {
    font-size: 34px;
    padding-top: 0;
    transform: translateY(-2px);
    margin-bottom: 26px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 13px;
    transform: none;
    padding-top: 2px;
  }
}

.grant__content br {
  @include vp-767 {
    display: none;
  }
}

.grant__content {
  width: 100%;
  margin-bottom: 33px;

  @include vp-1439 {
    width: 498px;
    margin-bottom: 36px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 25px;
  }
}

.grant__content p {
  width: 100%;
  margin: 0;

  @include vp-1439 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.grant__image {
  background-color: $color-charcoal;
  border-radius: 16px;

  img {
    border-radius: 16px;
    width: 100%;
    height: 363px;
    object-fit: cover;

    @include vp-1439 {
      height: 375px;
    }

    @include vp-767 {
      height: 200px;
    }
  }
}

.grant__subtitle {
  width: 373px;
  color: $color-default-white;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 55px;
  padding-top: 8px;

  @include vp-1439 {
    width: 100%;
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 42px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    width: 210px;
    margin-bottom: 26px;
  }
}

.grant__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-left: 20px;
  list-style: none;
  margin: 0;

  @include vp-1439 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 48px;
  }

  @include vp-767 {
    display: flex;
    gap: 15px;
    padding-left: 15px;
  }
}

.grant__item br {
  display: none;

  @include vp-1439 {
    display: block;
  }
}

.grant__item {
  p {
    margin: 0;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }

  position: relative;
  padding: 23px 25px;
  padding-right: 75px;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px currentColor;

  @include vp-1439 {
    padding: 26px 25px;
  }

  @include vp-767 {
    padding: 19px 25px;
  }
}

.grant__item-count {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  left: -20px;
  width: 42px;
  height: 42px;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  border-radius: 30px;

  @include vp-1439 {
    top: -15px;
    left: -20px;
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
    font-size: 18px;
    line-height: 18px;
    top: -5px;
    left: -15px;
  }
}
