.reviews {
  width: 100%;
  margin-bottom: -13px;

  @include vp-1439 {
    overflow: hidden;
  }

  @include vp-767 {
    overflow: auto;
    margin-bottom: 0;
  }

  .container {
    @include vp-767 {
      position: relative;
    }
  }
}

.reviews__title {
  text-align: left;
  color: $color-cerulean-blue;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 50px;
  transform: translate(3px, 4px);

  @include vp-1439 {
    font-size: 34px;
    margin-bottom: 40px;
    transform: translate(0, -1px);
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 34px;
    transform: translateY(3px);
  }
}

.reviews__card {
  width: 604px;
  min-height: 456px;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px $color-cerulean-blue;
  padding: 50px;
  padding-bottom: 42px;

  @include vp-1439 {
    min-height: 395px;
  }

  @include vp-767 {
    padding: 30px 15px 25px;
    min-height: 435px;
    transform: translateY(-3px);
  }
}

.reviews__profile {
  display: flex;
  align-items: center;
  gap: 15px;

  @include vp-767 {
    gap: 10px;
    margin-right: auto;
    transform: translateY(1px);
  }

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $color-cerulean-blue;

    @include vp-767 {
      width: 60px;
      height: 60px;
    }
  }

  span {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    color: $color-cerulean-blue;
    transform: translateY(-1px);

    @include vp-1439 {
      font-size: 20px;
      transform: none;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.reviews__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @include vp-767 {
    justify-content: start;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 18px;
  }
}

.reviews__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 26px;
  width: 250px;

  @include vp-1439 {
    transform: translateX(-1px);
  }

  @include vp-767 {
    justify-content: start;
    transform: translate(-5px, -5px);
  }
}

.reviews__program,
.reviews__date {
  display: flex;
  flex-direction: column;
  align-items: start;

  b {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
    color: $color-cerulean-blue;
    text-transform: uppercase;
    transform: translateY(4px);

    @include vp-1439 {
      transform: translateY(5px);
    }

    @include vp-767 {
      margin-bottom: 13px;
    }
  }

  span {
    font-size: 14px;
    line-height: 18px;
    transform: translateY(-1px);

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      opacity: 0.9;
    }
  }
}

.reviews__content {
  p,
  blockquote {
    margin: 0;
    padding: 0;
  }

  p {
    color: $color-cerulean-blue;
    width: 100%;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 14px;

    @include vp-1439 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 15px;
    }
  }

  blockquote {
    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.reviews__navigation {
  width: 57px;
  margin-left: auto;
  margin-right: 0;
  transform: translate(2px, -12px);

  @include vp-1439 {
    margin-left: 624px;
    transform: translate(-1px, -12px);
  }

  @include vp-767 {
    width: 54px;
    position: absolute;
    top: 12px;
    right: 13px;
    margin: 0;
  }
}

.reviews__pagination.swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal {
  position: static;
  width: 1134px;
  margin-top: 49px;
  height: 2px;
  background-color: rgba($color: $color-cerulean-blue, $alpha: 0.2);

  span {
    background-color: $color-cerulean-blue;
  }

  @include vp-1439 {
    width: 560px;
  }
}

.reviews__slider.swiper.swiper-horizontal {
  @include vp-1439 {
    width: 1150px;
  }

  @include vp-767 {
    width: auto;
  }
}
