.tab {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-cerulean-blue;
  background-color: $color-transparent;
  padding: 14px 26px;
  border-radius: 20px;
  border: none;
  outline: none;
  opacity: 0.6;
  cursor: pointer;

  @include vp-1439 {
    padding: 14px 20px;
  }

  @include vp-767 {
    padding: 10px 14px;
    font-size: 12px;
    line-height: 12px;
  }

  &--current {
    box-shadow: inset 0 0 0 1px currentColor;
    color: $color-cerulean-blue;
    opacity: 1;
    cursor: default;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 1;
  }
}
