.tabs {
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  margin-bottom: 40px;

  @include vp-1439 {
    margin-left: 4px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.tabs__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;

  @include vp-1439 {
    margin: 0 auto;
    width: 670px;
    justify-content: space-between;
    gap: 0;
  }

  @include vp-767 {
    gap: 10px;
    width: 557px;
  }
}
